body {
  background-color: #0f4f34;
}

.gameTitle h1 {
  font-size: 50px;
}
.label,
.gameTitle,
.choices,
.result {
  margin: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #e0e0e0;
}

.label h2 {
  font-size: 40px;
}

.label p {
  text-align: center;
  padding: 10px;
  font-size: 35px;
}

.choices button {
  width: 150px;
  height: 50px;
  background: none;
  border: none;
  color: #020202;
  font-size: 25px;
  background: #d2b201;
}

.choices button:hover {
  background: #9e8600;
}

.result {
  font-size: 30px;
}
